src/main/mule/read-xml-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="read-xml-demoFlow" doc:id="6ff9f8d5-182f-4314-a987-5b44960c6ebf" >
		<http:listener doc:name="Listener" doc:id="0e808a26-2996-4d02-bd99-f828a13c5a5a" config-ref="HTTP_Listener_config" path="/read-xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="a6a1bc5f-be38-469e-9704-fadcdd80cb74" message="#[payload.employee.employeeID]"/>
	</flow>
</mule>
